
   <div class="containerAdminCard">
         <div class="card adminCard">
          <h1 class="text-center txtAdminCardH">Admin üçün keçidlər</h1>
<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col btnAdm">
        <a class="btn btnAdminCard" href="/users/1">Users</a>

      </div>
      <div class="col btnAdm">
        <a class="btn btnAdminCard" href="/adduser">Add User</a>

      </div>
      <div class="col btnAdm">
        <a class="btn btnAdminCard" href="/admin">Admin</a>

      </div>
    </div>
  </div>
     </div>
   </div>



{{#if errortext}}
    <div class="container">
    <div class="alert alert-danger">{{errortext}}</div>

    </div>

{{/if}}



<div class=" card mt-5 container register" id="wrap" style="margin-bottom: 4rem;">
    <div class="row col-md-12">


        <div class="col-md-6 col-md-offset-3 formUser">
            <form action="" method="post" accept-charset="utf-8" class="form" role="form">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <input type="text" name="firstname" value="{{firstname}}" class="form-control input-lg formInput"
                            placeholder="First Name" />
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <input type="text" name="lastname" value="{{lastname}}" class="form-control input-lg formInput"
                            placeholder="Last Name" />
                    </div>
                </div>
                <input type="text" name="email" value="" class="form-control input-lg formInput" placeholder="Your Email" />
               
                        <input type="text" name="position" value="{{position}}" class="form-control input-lg formInput"
                            placeholder="position" />
                            <input type="text" name="company" id="{{company}}" placeholder="company name" class="form-control input-lg formInput">
                            {{!-- <select name="department" id="">
                                <option value="" hidden>Choose Department</option>
                                <option value="">IT Department</option>
                                <option value="">Finance Department</option>
                                <option value="">Law Department</option>
                            </select> --}}
                            <div class="col-xs-6 col-md-6">

                    </div>
                <input
                    type="password" name="password" value="" class="form-control input-lg formInput"
                    placeholder="Password" />
                    <input type="password" name="confirm_password" value=""
                    class="form-control input-lg formInput" placeholder="Confirm Password" />
                <div class="row">
                    <div class="col-xs-4 col-md-4">

                    </div>
                </div>

                <div class="btnForm">
                    <button class="btn btn-lg btn-block signup-btn formBtn" type="submit">Create Users</button>
                </div>
            </form>
        </div>
         <div class="imgPart col-md-6">
                   <img src="../uploads/img_new_user.jpg" alt="" class="loginImg">
    </div>
    </div>

    
</div>
</div>


<style>
     .btnAdminCard
    {
        background-color: #fff;
        color: #3b6ffd;
        width: fit-content;
        border-radius: 15px;
        border-color: #3b6ffd;
    }
    .btnAdminCard:hover
    {
        background-color: #3b6ffd;
        color: #fff;
        border-color: #3b6ffd;
    }
    .containerAdminCard
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .txtAdminCardH
    {
        text-align: center;
        margin-bottom: 2rem;
         color: #3b6ffd;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
     .adminCard
    {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 2rem;
        width: 50%;
    }
    .card
    {
        background-color: #fff !important;
        position: relative;
        z-index: 400;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .btnAdm
    {
        margin: 0.2rem;
    }

    .card:hover {
      box-shadow: 10px 15px 10px -10px rgba(31, 31, 31, 0.5);
      transition: all 0.5s ease;
    }
     .loginImg
    {
        height: 70%;
        width: 90%;
        margin-top: 3rem;
    }
    .imgPart
    {
        display: flex;

    }
    .inputPart
    {
        position: relative;
        right: 0;
        margin-top: 2rem;

    }
    .formUser
    {
        display: flex;
        flex-direction: row;
        padding: 3rem;
    }
    .formInput
    {
        border-radius: 18px;
        margin: 1rem;
    }
    .formBtn
    {
         border-radius: 20px;
         background-color: #487AFF;
         width: fit-content;
         color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.2rem;
        margin-top: 1rem;
        text-align: center;
    }
    .formBtn:hover
    {
        background-color: #3b6ffd;
    }
    .btnForm
    {
        display: flex;
        justify-content: center;
    }
</style>

