<style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
    body {
        background-color: #fff;
        font-family: 'DM Sans', sans-serif;
    }

    .table {
        margin-top: 20px;
        background-color: #F1F4FC;
        border-radius: 12px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        overflow: hidden;
    }

    .table thead, .table tbody {
        border-radius: 10px;
    }
    .table thead th {
        border-bottom-color: #D6DDF8;
        font-weight: 700;
    }
    .table-bordered td, .table-bordered th{
        border: 2px solid #D6DDF8;
        letter-spacing: 0.05em;
        border-radius: 10px;
    }

    .table-striped tbody tr:nth-of-type(odd) { 
        background-color: #EBEEFB;
    }
    .table-hover tbody tr:hover {
        background-color: #E1E6F9;
    }
       .btnAdminCard
    {
        background-color: #fff;
        color: #3b6ffd;
        width: fit-content;
        border-radius: 15px;
        border-color: #3b6ffd;
    }
    .btnAdminCard:hover
    {
        background-color: #3b6ffd;
        color: #fff;
        border-color: #3b6ffd;
    }
    .containerAdminCard
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;

    }
    .txtAdminCardH
    {
        text-align: center;
        margin-bottom: 2rem;
         color: #3b6ffd;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .adminCard
    {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 2rem;
        width: 50%;
    }
    
    .card
    {
        background-color: #fff !important;
        position: relative;
        z-index: 400;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .btnAdm
    {
        margin: 0.2rem;
    }
    .card:hover {
      box-shadow: 10px 15px 10px -10px rgba(31, 31, 31, 0.5);
      transition: all 0.5s ease;
    }
    .pagination {
        justify-content: center !important;
        align-items: center;
        gap: 5px;
        padding: 8px;
        line-height: 40px;
        transition: all 0.5s ease;
        color: #5E7CE2;
        fill: #5E7CE2;
       
    }

    .btnofpag {
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
    }

    .btnofpag:hover {
        text-decoration: none;
    }

    .pagination .btn {
        display: flex;
        align-items: center;
        gap: 5px;
        height: 40px;
        cursor: pointer;
    }
    .pagination .btn.prev {
        border-radius: 25px 5px 5px 25px;
    }
    .pagination .btn.next {
        border-radius: 5px 25px 25px 5px;
    }
    .pagination .btnofpag,
    .pagination .btnofpag.active,
    .pagination .btnofpag:hover,
    .pagination .btn:hover{
        background-color: #5E7CE2 !important;
        color: #fff !important;
    }
    .pagination .btn:hover svg {
        fill: #fff;
    }
</style>
        {{!-- background-color: #F1F4FC; --}}

<div class="containerAdminCard">
         <div class="card adminCard">
          <h1 class="text-center txtAdminCardH">Admin üçün keçidlər</h1>
<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col btnAdm">
        <a class="btn btnAdminCard" href="/users/1">Users</a>

      </div>
      <div class="col btnAdm">
        <a class="btn btnAdminCard" href="/adduser">Add User</a>

      </div>
      <div class="col btnAdm">
        <a class="btn btnAdminCard" href="/admin">Admin</a>

      </div>
    </div>
  </div>
     </div>
   </div>


<div class="container">
    {{#if result}}

    <table class="table table-striped table-hover table-bordered table-responsive-md">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Company</th>
            </tr>
        </thead>
        <tbody>
            {{#each result}}
            <tr>
                <td>{{this.firstname}}</td>
                <td>{{this.lastname}}</td>
                <td>{{this.email}}</td>
                <td>{{this.password}}</td>
                <td>{{this.Companies.name}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>
    {{/if}}
    {{#if q}}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Position</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            {{#each q}}
            <tr>
                <td>{{this.firstname}}</td>
                <td>{{this.lastname}}</td>
                <td>{{this.position}}</td>
                <td>{{this.email}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>
    {{/if}}
    {{#if pagination}}

    <div class="pagination">
        {{!-- <div class="btn prev">
            <svg xmlns="http://www.w3.org/2000/svg" aria-valuemax="{{pagination}}" width="12" height="12" viewBox="0 0 24 24"><path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/></svg>
            Prev
        </div> --}}
        {{#each pagination}}
        <a href="/users/{{this}}" class="btnofpag active">{{this}}</a>
        {{/each}}
        {{!-- <div class="btn next">
          Next  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/></svg>
        </div> --}}
    </div>
    {{/if}}

</div>

