<div class="container">
    {{#if result}}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Company</th>
            </tr>
        </thead>
        <tbody>
            {{#each result}}
            <tr>
                <td>{{this.firstname}}</td>
                <td>{{this.lastname}}</td>
                <td>{{this.email}}</td>
                <td>{{this.password}}</td>
                <td>{{this.Companies.name}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>
    {{/if}}
    {{#if q}}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Position</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            {{#each q}}
            <tr>
                <td>{{this.firstname}}</td>
                <td>{{this.lastname}}</td>
                <td>{{this.position}}</td>
                <td>{{this.email}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>
    {{/if}}
    {{#if pagination}}

    <div class="pagination">
        {{#each pagination}}
        <a href="/users/{{this}}" class="btnofpag">{{this}}</a>
        {{/each}}
    </div>
    {{/if}}

</div>

